<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutright)="voteUp(true)" (throwoutleft)="voteUp(false)" class="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let c of cards" class="card">
      <img *ngIf="c.picture"[src]="c.picture.large">
      <div *ngIf="c.positive" class="card__tag card__tag--positive">Love</div>
      <div *ngIf="c.negative" class="card__tag card__tag--negative">Hate</div>
      <ion-card-content *ngIf="c.picture">
        <ion-card-title>
          Title
        </ion-card-title>
        <p>
          Lorem ipsum
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row class="card__actions">
    <ion-col>
        <button danger clear (click)="voteUp(false)">
            <ion-icon name="thumbs-down"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
        <button secondary clear (click)="voteUp(true)">
            <ion-icon name="heart"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
</ion-content>
